body {
  position: relative;
  width: 1600px;
  height: 2349px;
  background: #ffffff;
  font-family: "Roboto", Raleway;
}

.header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.webstudio {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}
.web {
  color: #2196f3;
}

.link-1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 452px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.link-1 :hover,
.link-1 :focus {
  color: #2196f3;
}

.link-2 {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 551px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.link-2 :hover,
.link-2 :focus {
  color: #2196f3;
}

.link-3 {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 678px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.link-3 :hover,
.link-3 :focus {
  color: #2196f3;
}

.mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.tel {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

.site-nav .link {
  color: brown;
}

.site-nav .link.current {
  color: #ffffff;
}

.baner {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.baner-name {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.skills {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.what-do {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: #f5f4fa;
}

.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
